.aboutContainer{
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
}

.aboutMe{
    margin-left: 40px;
}

.profilePic {
   margin-top: 140px;
  
}

.fontSize {
    font-size: 20px;
}

.row {
    display: float;
}

.MuiCardMedia-root {
    padding-top: 90px;
    
}