.footer {
    min-height: 100px;
    background: #ffffff;
    text-align: center;
    position: relative;
    flex-shrink: 0;
    padding-top: 50vh; 
    
  }
  
  .footer span {
    
    position: absolute;
    bottom: -40%;
    left: 0;
    right: 0;
    padding: 30px;
    background: #000000;
    
    
  }
